nav ul{
    padding: opx;
    margin: 0px;
    list-style-type:none;
}

nav li{
    display:inline-block;
    width:100px;
    height:40px;
    margin:0px;
    padding:0px;
    border-right:1px solid #CCCCCC;
    text-align:center;
    line-height:40px;
}

nav ul li ul {
    display:none;
    left: 60px; 
    top: 10px; 
    position: relative; 
    margin:0px; 
    padding: 0px;	
}
nav ul li ul:hover{
    background-color:#3388BB;
    display:inline-block;
}
    
nav li:hover{
    background-color:#3388BB;
}

nav li a{
    display:block;
    text-decoration:none;
    color:#000000;
}
footer{

    background:#3388BB;
    
    position:absolute;
    
    bottom:0;
    
    width:100%;
    
    padding-top:50px;
    
    height:50px;
    
    }